<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/style.css">
    <title>Login page</title>
</head>

<body>
    <form class="login-form center" method="post">
        <div>
            <label for="inputName">Name</label>
            <input type="text" id="inputName" aria-label="First name" name="name">
        </div>
        <div>
            <label for="inputEmail">Email</label>
            <input type="email" id="inputEmail" name="email">
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>

</html>